In [1]:
import pandas as pd
import datetime
import random
import numpy as np
import uuid
import geopy.distance
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

from pattern.en import conjugate, lemma, lexeme, PAST, SG


zipcodes = [94102,94103,94107,94108,94109,94110,94112,94114,94115,94116,94117,94118,94121,94122,94123,94124,94127,94131,94132,94133,94134]

In [2]:
class dish:
    def __init__(self, dish_id, name, restaurant_id, dish_rating, num_reviews, date_added) -> None:
        self.id = dish_id
        self.name = name
        self.restaurant_id = restaurant_id
        self.rating = dish_rating
        self.num_reviews = num_reviews
        self.date_added = date_added

class restaurant:
    def __init__(self, restaurant_id, restaurant_name, restaurant_zip_code, restaurant_lat_long, restaurant_date_added) -> None:
        self.id = restaurant_id
        self.name = restaurant_name
        self.zip_code = restaurant_zip_code
        self.lat_long = restaurant_lat_long
        self.date_added = restaurant_date_added

class user:
    def __init__(self, user_id, first_name, last_name, user_rating, user_date_added, user_date_last_login, user_lat_long, user_zip_code) -> None:
        self.id = user_id
        self.first_name = first_name
        self.last_name = last_name
        self.user_rating = user_rating
        self.user_date_added = user_date_added
        self.user_date_last_login = user_date_last_login
        self.user_zipcode = user_zip_code
        self.user_lat_long = user_lat_long

class reviews:
    def __init__(self, review_id, dish_id, user_id, dish_name, timestamp, rating, review_text) -> None:
        self.id = review_id
        self.dish_id = dish_id
        self.user_id = user_id
        self.dish_name = dish_name
        self.timestamp = timestamp
        self.rating = rating
        self.review_text = review_text

In [3]:
def create_random_date():
    start_date = datetime.date(2000, 1, 1)
    end_date = datetime.date.today()
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    return random_date

def create_uuid():
    return uuid.uuid4().hex[:12] 

def create_rating():
    return int(random.random()*5 + 1)

In [4]:
dish_prefix_past = ['baked', 'barbecued', 'basted', 'battered', 'beat', 'binded', 'blackened', 'blanched', 'blended', 'boiled', 'boned', 'braised', 'breaded', 'brewed', 'broiled', 'browned', 'brushed', 'burnt', 'butterflied', 'aerated', 'aged', 'could', 'caramelized', 'charred', 'char-broiled', 'chilled', 'chopped', 'chunked', 'churned', 'clarified', 'coddled', 'combined', 'congealed', 'cooled', 'cored', 'creamed', 'cured', 'cut', 'deboned', 'decorated', 'deep fried', 'deglazed', 'descaled', 'deviled', 'diced', 'dipped', 'doughed', 'drained', 'drizzled', 'dried', 'fermented', 'filleted', 'filtered', 'flambed', 'flavorred', 'flipped', 'folded', 'froze', 'french fried', 'fricasseed', 'frosted', 'frothed', 'fried', 'garnished', 'gelled', 'glazed', 'grated', 'gratinned', 'greased', 'grilled', 'ground', 'hard boiled', 'hardened', 'hashed', 'heated', 'hulled', 'iced', 'infused', 'jellied', 'juiced', 'julienned', 'kneaded', 'layered', 'leavened', 'macerated', 'marinated', 'mashed', 'measured', 'melted', 'microwaved', 'mixed', 'molded', 'oiled', 'oven fried', 'overcooked', 'pan fried', 'parboiled', 'pared', 'peeled', 'percolated', 'pickled', 'pitted', 'poached', 'popped', 'poured', 'precooked', 'prepared', 'preserved', 'pressed', 'pressure-cooked', 'processed', 'pulped', 'pureeed', 'quartered', 'rawed', 'reduced', 'refrigerated', 'rendered', 'rose', 'roasted', 'rolled', 'rubbed', 'salted', 'sauted', 'scalded', 'scalloped', 'scooped', 'scored', 'scrambled', 'seared', 'seasoned', 'separated', 'served', 'shelled', 'shirred', 'shredded', 'shucked', 'sieved', 'sifted', 'simmered', 'skewed', 'skimmed', 'skinned', 'sliced', 'slivered', 'slow cooked', 'smoked', 'snipped', 'soaked', 'soft boiled', 'soused', 'sprinkled', 'steamed', 'steeped', 'stewed', 'stirred', 'stir fried', 'strained', 'stuffed', 'sweated', 'sweetened', 'tempered', 'tenderized', 'thickened', 'thinned', 'toasted', 'topped', 'tossed', 'trimmed', 'trussed', 'turned', 'uncured', 'unmolded', 'warmed', 'washed', 'wedged', 'whipped', 'whisked', 'zapped', 'zested']
dish_suffix = ['Abalone','Açaí berries','Açaí juice','Acorn squash','Adzuki bean paste','Adzuki beans','Aged Japanese kurozu','Albacore tuna','Alcohol','Ale','Alfalfa sprouts','Algae','Almond milk','Almond paste','Almonds','Ancho chili powder','Anchovies','Anchovy paste','Angus beef','Apple juice','Apples','Apricots','Apricots, Japanese','Arborio rice','Arctic char','Artichoke, Jerusalem','Artichokes','Arugula','Asian greens','Asparagus','Asparagus, Chinese','Autumn crocus','Avocado oil','Avocados','Bacon','Balsamic vinegar','Bananas','Barbecued meat','Basil','Bean curd','Beef','Beer','Beets','Bell peppers','Bitter almond oil','Bitter cucumber','Bitter melon','Black beans','Black cumin','Black currants','Black or purple rice','Black pepper','Black tea','Blackberries','Blueberries','Bok choy','Boysenberries','Brazil nuts','Bread','Broccoli','Broccoli sprouts','Brown mustard','Brown rice','Brown rice syrup','Brussels sprouts','Buckwheat','Butter','Butternut squash','Cabbage','Canola oil','Cantaloupe','Carrots','Cashews','Cauliflower','Caviar','Celeriac','Celery','Celery seed','Chamomile','Cheese','Cherries','Chicken','Chickpeas','Chilli peppers','Chives','Chocolate','Cilantro','Cinnamon','Clams','Coconut','Coconut oil','Coffee','Collard greens','Corn','Corn oil','Crab','Cranberries','Cream','Cucumbers','Cumin','Curcumin','Currants','Daidzein','Dal','Dill','Dried herring','Dried mackerel','Dry beans','Edamame','Eggs','Escargot','Fennel','Fennel seed','Fermented bean paste','Fermented milk','Flaxseed','Flaxseed oil','Fried potatoes','Garbanzo beans','Garden cress','Garlic','Genistein','Ghee','Ginger','Grape seed oil','Grapefruit','Grapes','Gravy','Green beans','Green onions','Green papaya','Green peas','Green tea','Greens','Guacamole','Halibut','Ham','Herring','Holy basil','Honey','Honeydew melon','Horseradish','Hot peppers','Hummus','Indian mustard','Kale','Kefir','Kelp','Kidney beans','King mackerel','Kiwifruit','Kohlrabi','Kumquats','Lake trout','Lamb','Lard','Lavender','Leeks','Lemons','Lentils','Lettuce','Lima beans','Limes','Lingonberries','Liquor','Liver','Lobster','Loganberries','Long pepper','Low-fat yogurt','Macadamia nut oil','Macadamia nuts','Mackerel','Maitake mushrooms','Mangoes','Mangosteen','Marionberrries','Maté','Mayonnaise','Melons','Mexican oregano','Milk','Mint','Mint tea','Mung beans','Mushrooms','Muskmelon','Mussels','Mustard','Mustard greens','Mustard oil','Mutton','Navy beans','Oatmeal','Oats','Octopus','Ohyo','Olive oil','Olives','Onions','Oranges','Oregano','Oysters','Papaya','Papaya seeds','Paprika','Parsley','Parsnips','Partially-hydrogen. oil','Passion fruit','Pâtés','Paw paw','Peaches','Peanut oil','Peanuts','Pears','Peas','Pecans','Peppermint','Persipan','Pesto sauce','Pickled papaya','Pickled watermel. rind','Pickles','Pineapple','Pinto beans','Pistachio nuts','Plantago','Plantains','Plums','Pomegranate juice','Pomegranates','Pork','Portobello mushrooms','Potatoes','Prunes','Pumpkin seeds','Pumpkins','Radicchio','Radish','Raisins','Rapeseed oil','Rapini','Raspberries','Red bean paste','Red beans','Red cabbage','Red currants','Red onions','Red pepper flakes','Red pepper paste','Red rice','Red spinach','Red wine vinegar','Reishi mushrooms','Rhubarb','Ribs','Rice','Rice bran','Rice bran oil','Rice wine vinegar','Risotto','Roast beef','Roasted almonds','Roasted pork','Roe','Rolled oats','Romaine lettuce','Rosemary','Rutabagas','Rye','Safflower oil','Saffron','Sage','Sage tea','Wild Salmon','Salt','Sardines','Sauerkraut','Sausages','Scallions','Scallops','Seaweed','Sesame oil','Sesame seeds','Shallots','Shellfish','Shiitake mushrooms','Shrimp','Smoked mackerel','Snails','Snow peas','Soba noodles','Soy infant formula','Soy milk','Soy protein bars','Soy protein isolate','Soybean curd','Soybean oil','Soybean paste','Soybeans','Spaghetti squash','Spearmint','Spinach','Split peas','Squash','Steak','Strawberries','String beans','Subtropical ginger','Sugar','Sugar beets','Sugar snap peas','Summer squash','Sunflower oil','Sunflower seeds','Sweet peas','Sweet potatoes','Tabasco sauce','Tahini','Tallow','Tangerines','Tartary buckwheat','Tea','Thyme','Tofu','Tomato paste','Tomatoes','Tropical ginger','Turkey','Turkey bacon','Turmeric','Turnip greens','Turnips','Veal','Vinegar','Wakame','Walnut oil','Walnuts','Wasabi','Watercress','Watermelon','Watermelon seeds','Well-done meat','Wheat bran','Wheat germ','Wheat grass','White beans','White bread','White button mush.','White pepper','White tea','White vinegar','Whole wheat bread','Wild ginger','Wild rice','Wine','Winter squash','Yams','Yerba maté','Yogurt','Zucchini']

def create_random_dish_name():
    first_prefix = dish_prefix_past[random.randrange(len(dish_prefix_past))]
    second_prefix = dish_prefix_past[random.randrange(len(dish_prefix_past))]
    suffix = dish_suffix[random.randrange(len(dish_suffix))]
    return first_prefix + ' ' + second_prefix + ' ' + suffix

restaurant_article = ['A','The','One','Double']
restaurant_names = ['Lonesome Dove','Bobby’s','Melting Pot','Daytime Place','Easy Eats','Macro Bites','Grubber Hub','Cheerful Rhino','Home Cooking Experience','Fare & Feed','Golden Palace','Soups & Snacks','Quick Bite','Fast & Friendly','Big Bites','Blind Pig','Eatable','The Eatery','Goodies','Lard Boy','Many Foods','Me Likey','Wonton Express','Great Burger','Awesome Burger','Amazing Sauce','Asian Express','Fearless Wander','Crate Express','Smothered In Love','Sweet Delectable','Appetizing As Heck','Appetizing Bird','Scrumptious Temptations','Smile N’ Delight','Choice Foods','Dainty Dog','Hungry Dog','Heavenly Creations','Food For Thought','Food In My Tummy','Tum Tum Express','Lil Johnny’s','Bill’s Burgers','A Night In Paris','Distinctive Creations','Spicy Heat','Spicy Jack’s','Pepper Jack’s','Rich Meat','Fit For A King','King of Meat','Delicious Donuts','Rare Meats','Rare Cuts','Rare Choice','Sapid Salads','Soup & Salad Express','Seasoned','Smitten','Love Street','Ice Cream Sandwiches','For The Love Of Ice Cream','Infatuated Creations','Smack Dab','Frozen Yogurt','Sherbet','Mickey’s Foodstuff','Pick & Go','The Satiated Drink','Pearl','Bless This Mess Hall','Grits & Gravy','Cheerful Hippo','Mealtime','Summer’s End','Winter Comes','Nightcap','It’s Good Food','Leggo My Wagyu','Tokyo Beat','New York Pulse','Chicago Style Pizza','Hill Country Fare','TidBits','No Place Like Home','Trial & Error','Rinse & Repeat','Cook & Boil','Broiler','Broiled Duck','Prancing Pig','Sweet Duck','Aaron’s','Salt & Snow','Roaring Tiger','Fig’s BBQ','Odd Pig','Southside','Northend','Roaring Ridgemont','Tia’s Mexican Hut','Atomic Good','L’Gran','Casa Del Rio','Clio','Bartholomew’s','Villa','Sushi Roll','Hand Roll','By Hand','Made by Hand','Scratch House','Los Alma’s','Upstate','Fatty’s','Halal Meats','Shake It Up','Bridge','Uptown Park','Parrots','No Way','The Prince’s','Ramen & Rolls','Flavor Town','Madison','Fig Tree','Lonely Grape','Thrilling Heart','Perfect Choice','Winsome Food Truck','Mexican Lucky Grill','Delightful Food Cart','Finger Licking','Hot and Tasty','Mobile Aztec','Finest Cheese','Primsweet Bakes','Sweet Skewer','Fries Vibes','Yummy Churro Truck','Daily Sopapilla','Burrito and Takeou','Froth Moon','Tostada Recipe','Taco Greenhill','Burrito Time','Nachos Hood','Fresh Chubby','Churros Heart','Dessert Page','Yummy Tacos','Guacamole Cafe','Fresh and Fast','Food Portal','Cuisine Phase','Burrito Nook','Adobo Connect','Spicy Grills','HotRoaster','Hot Yumyum','Chef symbol','Ceviche Campus','Gordita Pool']
restaurant_suffix = ['Town','City','Kitchen','Kingom','Place','Home','Hearth']

def create_random_restaurant_name():
    article = restaurant_article[random.randrange(len(restaurant_article))]
    name = restaurant_names[random.randrange(len(restaurant_names))]
    suffix = restaurant_suffix[random.randrange(len(restaurant_suffix))]
    return article + ' ' + name + ' ' + suffix


user_first_names = ['Liam','Noah','Oliver','Elijah','William','James','Benjamin','Lucas','Henry','Alexander','Mason','Michael','Ethan','Daniel','Jacob','Logan','Jackson','Levi','Sebastian','Mateo','Jack','Owen','Theodore','Aiden','Samuel','Joseph','John','David','Wyatt','Matthew','Luke','Asher','Carter','Julian','Grayson','Leo','Jayden','Gabriel','Isaac','Lincoln','Anthony','Hudson','Dylan','Ezra','Thomas','Charles','Christopher','Jaxon','Maverick','Josiah','Isaiah','Andrew','Elias','Joshua','Nathan','Caleb','Ryan','Adrian','Miles','Eli','Nolan','Christian','Aaron','Cameron','Ezekiel','Colton','Luca','Landon','Hunter','Jonathan','Santiago','Axel','Easton','Cooper','Jeremiah','Angel','Roman','Connor','Jameson','Robert','Greyson','Jordan','Ian','Carson','Jaxson','Leonardo','Nicholas','Dominic','Austin','Everett','Brooks','Xavier','Kai','Jose','Parker','Adam','Jace','Wesley','Kayden','Silas','Bennett','Declan','Waylon','Weston','Evan','Emmett','Micah','Ryder','Beau','Damian','Brayden','Gael','Rowan','Harrison','Bryson','Sawyer','Amir','Kingston','Jason','Giovanni','Vincent','Ayden','Chase','Myles','Diego','Nathaniel','Legend','Jonah','River','Tyler','Cole','Braxton','George','Milo','Zachary','Ashton','Luis','Jasper','Kaiden','Adriel','Gavin','Bentley','Calvin','Zion','Juan','Maxwell','Max','Ryker','Carlos','Emmanuel','Jayce','Lorenzo','Ivan','Jude','August','Kevin','Malachi','Elliott','Rhett','Archer','Karter','Arthur','Luka','Elliot','Thiago','Brandon','Camden','Justin','Jesus','Maddox','King','Theo','Enzo','Matteo','Emiliano','Dean','Hayden','Finn','Brody','Antonio','Abel','Alex','Tristan','Graham','Zayden','Judah','Xander','Miguel','Atlas','Messiah','Barrett','Tucker','Timothy','Alan','Edward','Leon','Dawson','Eric','Ace','Victor','Abraham','Nicolas','Jesse','Charlie','Patrick','Walker','Joel','Richard','Beckett','Blake','Alejandro','Avery','Grant','Peter','Oscar','Matias','Amari','Lukas','Andres','Arlo','Colt','Adonis','Kyrie','Steven','Felix','Preston','Marcus','Holden','Emilio','Remington','Jeremy','Kaleb','Brantley','Bryce','Mark','Knox','Israel','Phoenix','Kobe','Nash','Griffin','Caden','Kenneth','Kyler','Hayes','Jax','Rafael','Beckham','Javier','Maximus','Simon','Paul','Omar','Kaden','Kash','Lane','Bryan','Riley','Zane','Louis','Aidan'
,'Paxton','Maximiliano','Karson','Cash','Cayden','Emerson','Tobias','Ronan','Brian','Dallas','Bradley','Jorge','Walter','Josue','Khalil','Damien','Jett','Kairo','Zander','Andre','Cohen','Crew','Hendrix','Colin','Chance','Malakai','Clayton','Daxton','Malcolm','Lennox','Martin','Jaden','Kayson','Bodhi','Francisco','Cody','Erick','Kameron','Atticus','Dante','Jensen','Cruz','Finley','Brady','Joaquin','Anderson','Gunner','Muhammad','Zayn','Derek','Raymond','Kyle','Angelo','Reid','Spencer','Nico','Jaylen','Jake','Prince','Manuel','Ali','Gideon','Stephen','Ellis','Orion','Rylan','Eduardo','Mario','Rory','Cristian','Odin','Tanner','Julius','Callum','Sean','Kane','Ricardo','Travis','Wade','Warren','Fernando','Titus','Leonel','Edwin','Cairo','Corbin','Dakota','Ismael','Colson','Killian','Major','Tate','Gianni','Elian','Remy','Lawson','Niko','Nasir','Kade','Armani','Ezequiel','Marshall','Hector','Desmond','Kason','Garrett','Jared','Cyrus','Russell','Cesar','Tyson','Malik','Donovan','Jaxton','Cade','Romeo','Nehemiah','Sergio','Iker','Caiden','Jay','Pablo','Devin','Jeffrey','Otto','Kamari','Ronin','Johnny','Clark','Ari','Marco'
,'Edgar','Bowen','Jaiden','Grady','Zayne','Sullivan','Jayceon','Sterling','Andy','Conor','Raiden','Royal','Royce','Solomon','Trevor','Winston','Emanuel','Finnegan','Pedro','Luciano','Harvey','Franklin','Noel','Troy','Princeton','Johnathan','Erik','Fabian','Oakley','Rhys','Porter','Hugo','Frank','Damon','Kendrick','Mathias','Milan','Peyton','Wilder','Callan','Gregory','Seth','Matthias','Briggs','Ibrahim','Roberto','Conner','Quinn','Kashton','Sage','Santino','Kolton','Alijah','Dominick','Zyaire','Apollo','Kylo','Reed','Philip','Kian','Shawn','Kaison','Leonidas','Ayaan','Lucca','Memphis','Ford','Baylor','Kyson','Uriel','Allen','Collin','Ruben','Archie','Dalton','Esteban','Adan','Forrest','Alonzo','Isaias','Leland','Jase','Dax','Kasen','Gage','Kamden','Marcos','Jamison','Francis','Hank','Alexis','Tripp','Frederick','Jonas','Stetson','Cassius','Izaiah','Eden','Maximilian','Rocco','Tatum','Keegan','Aziel','Moses','Bruce','Lewis','Braylen','Omari','Mack','Augustus','Enrique','Armando','Pierce','Moises','Asa','Shane','Emmitt','Soren','Dorian','Keanu','Zaiden','Raphael','Deacon','Abdiel','Kieran','Phillip','Ryland','Zachariah'
,'Casey','Zaire','Albert','Baker','Corey','Kylan','Denver','Gunnar','Jayson','Drew','Callen','Jasiah','Drake','Kannon','Braylon','Sonny','Bo','Moshe','Huxley','Quentin','Rowen','Santana','Cannon','Kenzo','Wells','Julio','Nikolai','Conrad','Jalen','Makai','Benson','Derrick','Gerardo','Davis','Abram','Mohamed','Ronald','Raul','Arjun','Dexter','Kaysen','Jaime','Scott','Lawrence','Ariel','Skyler','Danny','Roland','Chandler','Yusuf','Samson','Case','Zain','Roy','Rodrigo','Sutton','Boone','Saint','Saul','Jaziel','Hezekiah','Alec','Arturo','Jamari','Jaxtyn','Julien','Koa','Reece','Landen','Koda','Darius','Sylas','Ares','Kyree','Boston','Keith','Taylor','Johan','Edison','Sincere','Watson','Jerry','Nikolas','Quincy','Shepherd','Brycen','Marvin','Dariel','Axton','Donald','Bodie','Finnley','Onyx','Rayan','Raylan','Brixton','Colby','Shiloh','Valentino','Layton','Trenton','Landyn','Alessandro','Ahmad','Gustavo','Ledger','Ridge','Ander','Ahmed','Kingsley','Issac','Mauricio','Tony','Leonard','Mohammed','Uriah','Duke','Kareem','Lucian','Marcelo','Aarav','Leandro','Reign','Clay','Kohen','Dennis','Samir','Ermias','Otis','Emir','Nixon'
,'Ty','Sam','Fletcher','Wilson','Dustin','Hamza','Bryant','Flynn','Lionel','Mohammad','Cason','Jamir','Aden','Dakari','Justice','Dillon','Layne','Zaid','Alden','Nelson','Devon','Titan','Chris','Khari','Zeke','Noe','Alberto','Roger','Brock','Rex','Quinton','Alvin','Cullen','Azariah','Harlan','Kellan','Lennon','Marcel','Keaton','Morgan','Ricky','Trey','Karsyn','Langston','Miller','Chaim','Salvador','Amias','Tadeo','Curtis','Lachlan','Amos','Anakin','Krew','Tomas','Jefferson','Yosef','Bruno','Korbin','Augustine','Cayson','Mathew','Vihaan','Jamie','Clyde','Brendan','Jagger','Carmelo','Harry','Nathanael','Mitchell','Darren','Ray','Jedidiah','Jimmy','Lochlan','Bellamy','Eddie','Rayden','Reese','Stanley','Joe','Houston','Douglas','Vincenzo','Casen','Emery','Joziah','Leighton','Marcellus','Atreus','Aron','Hugh','Musa','Tommy','Alfredo','Junior','Neil','Westley','Banks','Eliel','Melvin','Maximo','Briar','Colten','Lance','Nova','Trace','Axl','Ramon','Vicente','Brennan','Caspian','Remi','Deandre','Legacy','Lee','Valentin','Ben','Louie','Westin','Wayne','Benicio','Grey','Zayd','Gatlin','Mekhi','Orlando','Bjorn','Harley','Alonso'
,'Rio','Aldo','Byron','Eliseo','Ernesto','Talon','Thaddeus','Brecken','Kace','Kellen','Enoch','Kiaan','Lian','Creed','Rohan','Callahan','Jaxxon','Ocean','Crosby','Dash','Gary','Mylo','Ira','Magnus','Salem','Abdullah','Kye','Tru','Forest','Jon','Misael','Madden','Braden','Carl','Hassan','Emory','Kristian','Alaric','Ambrose','Dario','Allan','Bode','Boden','Juelz','Kristopher','Genesis','Idris','Ameer','Anders','Darian','Kase','Aryan','Dane','Guillermo','Elisha','Jakobe','Thatcher','Eugene','Ishaan','Larry','Wesson','Yehuda','Alvaro','Bobby','Bronson','Dilan','Kole','Kyro','Tristen','Blaze','Brayan','Jadiel','Kamryn','Demetrius','Maurice','Arian','Kabir','Rocky','Rudy','Randy','Rodney','Yousef','Felipe','Robin','Aydin','Dior','Kaiser','Van','Brodie','London','Eithan','Stefan','Ulises','Camilo','Branson','Jakari','Judson','Yahir','Zavier','Damari','Jakob','Jaxx','Bentlee','Cain','Niklaus','Rey','Zahir','Aries','Blaine','Kyng','Castiel','Henrik','Joey','Khalid','Bear','Graysen','Jair','Kylen','Darwin','Alfred','Ayan','Kenji','Zakai','Avi','Cory','Fisher','Jacoby','Osiris','Harlem','Jamal','Santos','Wallace','Brett','Fox','Leif'
,'Maison','Reuben','Adler','Zev','Calum','Kelvin','Zechariah','Bridger','Mccoy','Seven','Shepard','Azrael','Leroy','Terry','Harold','Mac','Mordechai','Ahmir','Cal','Franco','Trent','Blaise','Coen','Dominik','Marley','Davion','Jeremias','Riggs','Jones','Will','Damir','Dangelo','Canaan','Dion','Jabari','Landry','Salvatore','Kody','Hakeem','Truett','Gerald','Lyric','Gordon','Jovanni','Kamdyn','Alistair','Cillian','Foster','Terrance','Murphy','Zyair','Cedric','Rome','Abner','Colter','Dayton','Jad','Xzavier','Rene','Vance','Duncan','Frankie','Bishop','Davian','Everest','Heath','Jaxen','Marlon','Maxton','Reginald','Harris','Jericho','Keenan','Korbyn','Wes','Eliezer','Jeffery','Kalel','Kylian','Turner','Willie','Rogelio','Ephraim','Olivia','Emma','Ava','Charlotte','Sophia','Amelia','Isabella','Mia','Evelyn','Harper','Camila','Gianna','Abigail','Luna','Ella','Elizabeth','Sofia','Emily','Avery','Mila','Scarlett','Eleanor','Madison','Layla','Penelope','Aria','Chloe','Grace','Ellie','Nora','Hazel','Zoey','Riley','Victoria','Lily','Aurora','Violet','Nova','Hannah','Emilia','Zoe','Stella','Everly','Isla','Leah','Lillian','Addison','Willow','Lucy','Paisley','Natalie','Naomi','Eliana','Brooklyn','Elena','Aubrey','Claire','Ivy','Kinsley','Audrey','Maya','Genesis','Skylar','Bella','Aaliyah','Madelyn','Savannah','Anna','Delilah','Serenity','Caroline','Kennedy','Valentina','Ruby','Sophie','Alice','Gabriella','Sadie','Ariana','Allison','Hailey','Autumn','Nevaeh','Natalia','Quinn','Josephine','Sarah','Cora','Emery','Samantha','Piper','Leilani','Eva','Everleigh','Madeline','Lydia','Jade','Peyton','Brielle','Adeline','Vivian','Rylee','Clara','Raelynn','Melanie','Melody','Julia','Athena','Maria','Liliana','Hadley','Arya','Rose','Reagan','Eliza','Adalynn','Kaylee','Lyla','Mackenzie','Alaia','Isabelle','Charlie','Arianna','Mary','Remi','Margaret','Iris','Parker','Ximena','Eden','Ayla','Kylie','Elliana','Josie','Katherine','Faith','Alexandra','Eloise','Adalyn','Amaya','Jasmine','Amara','Daisy','Reese','Valerie','Brianna','Cecilia','Andrea','Summer','Valeria','Norah','Ariella','Esther','Ashley','Emerson','Aubree','Isabel','Anastasia','Ryleigh','Khloe','Taylor','Londyn','Lucia','Emersyn','Callie','Sienna','Blakely','Kehlani','Genevieve','Alina','Bailey','Juniper','Maeve','Molly','Harmony','Georgia','Magnolia','Catalina','Freya','Juliette','Sloane','June','Sara','Ada','Kimberly','River','Ember','Juliana','Aliyah','Millie','Brynlee','Teagan','Morgan','Jordyn','London','Alaina','Olive','Rosalie','Alyssa','Ariel','Finley','Arabella','Journee','Hope','Leila','Alana','Gemma','Vanessa','Gracie','Noelle','Marley','Elise','Presley','Kamila','Zara','Amy','Kayla','Payton','Blake','Ruth','Alani','Annabelle','Sage','Aspen','Laila','Lila','Rachel','Trinity','Daniela','Alexa','Lilly','Lauren','Elsie','Margot','Adelyn','Zuri','Brooke','Sawyer','Lilah','Lola','Selena','Mya','Sydney','Diana','Ana','Vera','Alayna','Nyla','Elaina','Rebecca','Angela','Kali','Alivia','Raegan','Rowan','Phoebe'
,'Camilla','Joanna','Malia','Vivienne','Dakota','Brooklynn','Evangeline','Camille','Jane','Nicole','Catherine','Jocelyn','Julianna','Lena','Lucille','Mckenna','Paige','Adelaide','Charlee','Mariana','Myla','Mckenzie','Tessa','Miriam','Oakley','Kailani','Alayah','Amira','Adaline','Phoenix','Milani','Annie','Lia','Angelina','Harley','Cali','Maggie','Hayden','Leia','Fiona','Briella','Journey','Lennon','Saylor','Jayla','Kaia','Thea','Adriana','Mariah','Juliet','Oaklynn','Kiara','Alexis','Haven','Aniyah','Delaney','Gracelynn','Kendall','Winter','Lilith','Logan','Amiyah','Evie','Alexandria','Gracelyn','Gabriela','Sutton','Harlow','Madilyn','Makayla','Evelynn','Gia','Nina','Amina','Giselle','Brynn','Blair','Amari','Octavia','Michelle','Talia','Demi','Alaya','Kaylani','Izabella','Fatima','Tatum','Makenzie','Lilliana','Arielle','Palmer','Melissa','Willa','Samara','Destiny','Dahlia','Celeste','Ainsley','Rylie','Reign','Laura','Adelynn','Gabrielle','Remington','Wren','Brinley','Amora','Lainey','Collins','Lexi','Aitana','Alessandra','Kenzie','Raelyn','Elle','Everlee','Haisley','Hallie','Wynter','Daleyza','Gwendolyn','Paislee'
,'Ariyah','Veronica','Heidi','Anaya','Cataleya','Kira','Avianna','Felicity','Aylin','Miracle','Sabrina','Lana','Ophelia','Elianna','Royalty','Madeleine','Esmeralda','Joy','Kalani','Esme','Jessica','Leighton','Ariah','Makenna','Nylah','Viviana','Camryn','Cassidy','Dream','Luciana','Maisie','Stevie','Kate','Lyric','Daniella','Alicia','Daphne','Frances','Charli','Raven','Paris','Nayeli','Serena','Heaven','Bianca','Helen','Hattie','Averie','Mabel','Selah','Allie','Marlee','Kinley','Regina','Carmen','Jennifer','Jordan','Alison','Stephanie','Maren','Kayleigh','Angel','Annalise','Jacqueline','Braelynn','Emory','Rosemary','Scarlet','Amanda','Danielle','Emelia','Ryan','Carolina','Astrid','Kensley','Shiloh','Maci','Francesca','Rory','Celine','Kamryn','Zariah','Liana','Poppy','Maliyah','Keira','Skyler','Noa','Skye','Nadia','Addilyn','Rosie','Eve','Sarai','Edith','Jolene','Maddison','Meadow','Charleigh','Matilda','Elliott','Madelynn','Holly','Leona','Azalea','Katie','Mira','Ari','Kaitlyn','Danna','Cameron','Kyla','Bristol','Kora','Armani','Nia','Malani','Dylan','Remy','Maia','Dior','Legacy','Alessia','Shelby','Maryam','Sylvia'
,'Yaretzi','Lorelei','Madilynn','Abby','Helena','Jimena','Elisa','Renata','Amber','Aviana','Carter','Emmy','Haley','Alondra','Elaine','Erin','April','Emely','Imani','Kennedi','Lorelai','Hanna','Kelsey','Aurelia','Colette','Jaliyah','Kylee','Macie','Aisha','Dorothy','Charley','Kathryn','Adelina','Adley','Monroe','Sierra','Ailani','Miranda','Mikayla','Alejandra','Amirah','Jada','Jazlyn','Jenna','Jayleen','Beatrice','Kendra','Lyra','Nola','Emberly','Mckinley','Myra','Katalina','Antonella','Zelda','Alanna','Amaia','Priscilla','Briar','Kaliyah','Itzel','Oaklyn','Alma','Mallory','Novah','Amalia','Fernanda','Alia','Angelica','Elliot','Justice','Mae','Cecelia','Gloria','Ariya','Virginia','Cheyenne','Aleah','Jemma','Henley','Meredith','Leyla','Lennox','Ensley','Zahra','Reina','Frankie','Lylah','Nalani','Reyna','Saige','Ivanna','Aleena','Emerie','Ivory','Leslie','Alora','Ashlyn','Bethany','Bonnie','Sasha','Xiomara','Salem','Adrianna','Dayana','Clementine','Karina','Karsyn','Emmie','Julie','Julieta','Briana','Carly','Macy','Marie','Oaklee','Christina','Malaysia','Ellis','Irene','Anne','Anahi','Mara','Rhea','Davina','Dallas'
,'Jayda','Mariam','Skyla','Siena','Elora','Marilyn','Jazmin','Megan','Rosa','Savanna','Allyson','Milan','Coraline','Johanna','Melany','Chelsea','Michaela','Melina','Angie','Cassandra','Yara','Kassidy','Liberty','Lilian','Avah','Anya','Laney','Navy','Opal','Amani','Zaylee','Mina','Sloan','Romina','Ashlynn','Aliza','Liv','Malaya','Blaire','Janelle','Kara','Analia','Hadassah','Hayley','Karla','Chaya','Cadence','Kyra','Alena','Ellianna','Katelyn','Kimber','Laurel','Lina','Capri','Braelyn','Faye','Kamiyah','Kenna','Louise','Calliope','Kaydence','Nala','Tiana','Aileen','Sunny','Zariyah','Milana','Giuliana','Eileen','Elodie','Rayna','Monica','Galilea','Journi','Lara','Marina','Aliana','Harmoni','Jamie','Holland','Emmalyn','Lauryn','Chanel','Tinsley','Jessie','Lacey','Elyse','Janiyah','Jolie','Ezra','Marleigh','Roselyn','Lillie','Louisa','Madisyn','Penny','Kinslee','Treasure','Zaniyah','Estella','Jaylah','Khaleesi','Alexia','Dulce','Indie','Maxine','Waverly','Giovanna','Miley','Saoirse','Estrella','Greta','Rosalia','Mylah','Teresa','Bridget','Kelly','Adalee','Aubrie','Lea','Harlee','Anika','Itzayana','Hana','Kaisley'
,'Mikaela','Naya','Avalynn','Margo','Sevyn','Florence','Keilani','Lyanna','Joelle','Kataleya','Royal','Averi','Kallie','Winnie','Baylee','Martha','Pearl','Alaiya','Rayne','Sylvie','Brylee','Jazmine','Ryann','Kori','Noemi','Haylee','Julissa','Celia','Laylah','Rebekah','Rosalee','Aya','Bria','Adele','Aubrielle','Tiffany','Addyson','Kai','Bellamy','Leilany','Princess','Chana','Estelle','Selene','Sky','Dani','Thalia','Ellen','Rivka','Amelie','Andi','Kynlee','Raina','Vienna','Alianna','Livia','Madalyn','Mercy','Novalee','Ramona','Vada','Berkley','Gwen','Persephone','Milena','Paula','Clare','Kairi','Linda','Paulina','Kamilah','Amoura','Hunter','Isabela','Karen','Marianna','Sariyah','Theodora','Annika','Kyleigh','Nellie','Scarlette','Keyla','Kailey','Mavis','Lilianna','Rosalyn','Sariah','Tori','Yareli','Aubriella','Bexley','Bailee','Jianna','Keily','Annabella','Azariah','Denisse','Promise','August','Hadlee','Halle','Fallon','Oakleigh','Zaria','Jaylin','Paisleigh','Crystal','Ila','Aliya','Cynthia','Giana','Maleah','Rylan','Aniya','Denise','Emmeline','Scout','Simone','Noah','Zora','Meghan','Landry','Ainhoa','Lilyana'
,'Noor','Belen','Brynleigh','Cleo','Meilani','Karter','Amaris','Frida','Iliana','Violeta','Addisyn','Nancy','Denver','Leanna','Braylee','Kiana','Wrenley','Barbara','Khalani','Aspyn','Ellison','Judith','Robin','Valery','Aila','Deborah','Cara','Clarissa','Iyla','Lexie','Anais','Kaylie','Nathalie','Alisson','Della','Addilynn','Elsa','Zoya','Layne','Marlowe','Jovie','Kenia','Samira','Jaylee','Jenesis','Etta','Shay','Amayah','Avayah','Egypt','Flora','Raquel','Whitney','Zola','Giavanna','Raya','Veda','Halo','Paloma','Nataly','Whitley','Dalary','Drew','Guadalupe','Kamari','Esperanza','Loretta','Malayah','Natasha','Stormi','Ansley','Carolyn','Corinne','Paola','Brittany','Emerald','Freyja','Zainab','Artemis','Jillian','Kimora','Zoie','Aislinn','Emmaline','Ayleen','Queen','Jaycee','Murphy','Nyomi','Elina','Hadleigh','Marceline','Marisol','Yasmin','Zendaya','Chandler','Emani','Jaelynn','Kaiya','Nathalia','Violette','Joyce','Paityn','Elisabeth','Emmalynn','Luella','Yamileth','Aarya','Luisa','Zhuri','Araceli','Harleigh','Madalynn','Melani','Laylani','Magdalena','Mazikeen','Belle','Kadence']

user_last_names = ['Smith','Johnson','Williams','Brown','Jones','Garcia','Miller','Davis','Rodriguez','Martinez','Hernandez','Lopez','Gonzalez','Wilson','Anderson','Thomas','Taylor','Moore','Jackson','Martin','Lee','Perez','Thompson','White','Harris','Sanchez','Clark','Ramirez','Lewis','Robinson','Walker','Young','Allen','King','Wright','Scott','Torres','Nguyen','Hill','Flores','Green','Adams','Nelson','Baker','Hall','Rivera','Campbell','Mitchell','Carter','Roberts']

def create_random_user_name():
    first = user_first_names[random.randrange(len(user_first_names))]
    last =  user_last_names[random.randrange(len(user_last_names))]
    return (first, last)

def get_distance_lat_long(coord1, coord2):
    return geopy.distance.distance(coords_1, coords_2).mi

def create_lat_long_from_zipcode(zipcode):
    rand_zip = zipcodes[random.randrange(len(zipcodes))]
    loc = geolocator.geocode({"postalcode": rand_zip})
    return loc[1]

def create_random_latlong(zipcode, distance):
    """
    Create random latitudes and longitudes within param distance (meters)
    
    type(zipcode): int
    type(distance): int
    type(latlong): tuple
    """   
    latlong = create_lat_long_from_zipcode(zipcode)
    x0 = latlong[0]
#     print('this is x0, ', x0)
    y0 = latlong[1]
#     print('this is y0, ', y0)
    r = distance/ 111300
    u = np.random.uniform(0,1)
    v = np.random.uniform(0,1)
    w = r * np.sqrt(u)
    t = 2 * np.pi * v
    x = w * np.cos(t)
    x1 = x / np.cos(y0)
    y = w * np.sin(t)
    return (x0+x1, y0 +y)
    
# create_random_user_name()[1]

In [5]:
def create_random_dish(restaurant_id):
    dish_elements = {}
    dish_elements['dish_id'] = 'd' + create_uuid()
    dish_elements['dish_name'] = create_random_dish_name()
    dish_elements['restaurant_id'] = restaurant_id
    dish_elements['dish_rating'] = create_rating()
    dish_elements['dish_num_reviews'] = random.randint(0,100)
    dish_elements['dish_date_added'] = create_random_date()
    return dish(dish_elements['dish_id'], dish_elements['dish_name'], dish_elements['restaurant_id'] ,dish_elements['dish_rating'], dish_elements['dish_num_reviews'], dish_elements['dish_date_added'])


def create_random_restaurant():
    restaurant_elements = {}
    restaurant_elements['restaurant_id'] = 'r' + create_uuid()
    restaurant_elements['restaurant_name'] = create_random_restaurant_name()
    restaurant_elements['restaurant_zipcode'] = zipcodes[random.randrange(len(zipcodes))]
    restaurant_elements['restaurant_lat_long'] = create_random_latlong(restaurant_elements['restaurant_zipcode'], 500)
    restaurant_elements['restaurant_date_added'] = create_random_date()
    return restaurant(restaurant_elements['restaurant_id'], restaurant_elements['restaurant_name'], restaurant_elements['restaurant_zipcode'], restaurant_elements['restaurant_lat_long'], restaurant_elements['restaurant_date_added'] )

def create_random_user():
    user_elements = {}
    user_elements['id'] = 'u' + create_uuid()
    user_elements['first_name'] = create_random_user_name()[0]
    user_elements['last_name'] = create_random_user_name()[1]
    user_elements['user_rating'] = create_rating()
    user_elements['user_date_added'] = create_random_date()
    user_elements['user_date_last_login'] = create_random_date()
    user_elements['user_zipcode'] = zipcodes[random.randrange(len(zipcodes))]
    user_elements['user_lat_long'] = create_random_latlong(user_elements['user_zipcode'], 500)
    return user(user_elements['id'], user_elements['first_name'], user_elements['last_name'], user_elements['user_rating'], user_elements['user_date_added'], user_elements['user_date_last_login'], user_elements['user_zipcode'], user_elements['user_lat_long'])

In [8]:
# create db for restaurants

from tqdm import tqdm

def create_n_restaurants(n):
    restaurant_list = []
    for i in tqdm(range(n)):
        r = create_random_restaurant()
    #     print('adding restaurant: ', r.name)
        restaurant_list.append([r.id, r.name, r.zip_code, r.lat_long, r.date_added])
    restaurant_df_columns = ['restaurant_id', 'restaurant_name', 'restaurant_zipcode','restaurant_lat_long','restaurant_date_added']
    restaurants_df = pd.DataFrame(restaurant_list, columns=restaurant_df_columns)
    return restaurants_df

def create_n_dishes(restaurants_df,n):
    # create db for dishes at restaurants
    dishes_list = []
    for i in tqdm(range(n)):
        restaurant_id = restaurants_df['restaurant_id'].sample().values[0]
        d = create_random_dish(restaurant_id)
        dishes_list.append([d.id, d.name, d.restaurant_id, d.rating, d.num_reviews, d.date_added])
    dishes_df_columns = ['dish_id', 'dish_name', 'restaurant_id','dish_rating','dish_num_reviews','dish_date_added']
    dishes_df = pd.DataFrame(dishes_list, columns=dishes_df_columns)
    return dishes_df

def create_n_users(n):
    # create db for users
    users_list = []
    for i in tqdm(range(100)):
        u = create_random_user()
        users_list.append([u.id, u.first_name, u.last_name, u.user_rating, u.user_date_added, u.user_date_last_login, u.user_zipcode, u.user_lat_long])
    users_df_columns = ['user_id', 'first_name', 'last_name','user_rating','user_date_added','user_date_last_login','user_zipcode','user_lat_long']
    users_df = pd.DataFrame(users_list, columns=users_df_columns)
    return users_df

In [9]:
restaurants_db = create_n_restaurants(100)
dishes_db = create_n_dishes(restaurants_db, 1000)
users_db = create_n_users(5000)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:49<00:00,  2.01it/s]
100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 8795.14it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:49<00:00,  2.00it/s]

In [48]:
restaurants_db

,restaurant_id,restaurant_name,restaurant_zipcode,restaurant_lat_long,restaurant_date_added
0,rd4256058c094,A Spicy Jack’s Kitchen,94131,"(37.777986990947944, -122.45715143966306)",2005-10-12
1,r5efb094d6887,The Big Bites Home,94127,"(58.3703222252316, 22.698706720875276)",2008-04-29
2,r8bd2f691559b,One New York Pulse City,94134,"(58.36238886271907, 22.6948105928287)",2009-07-02
3,r94c0a1eec05f,Double Winsome Food Truck Hearth,94123,"(58.30737710536331, 22.78931384692732)",2013-08-19
4,rd1169f77e6d6,A King of Meat Home,94110,"(37.72371674396411, -122.48015925845823)",2013-08-12
...,...,...,...,...,...
95,r2055a4a365db,One Blind Pig Place,94123,"(37.78900549300008, -122.40358244589001)",2016-06-07
96,r26e50f936308,One Winter Comes Home,94134,"(37.79890691702572, -122.41335494153059)",2009-09-20
97,ra67626b149e0,Double Hungry Dog Kingom,94118,"(37.74514631455852, -122.47549957108225)",2001-02-09
98,r2a59e1da8490,Double Tokyo Beat Home,94121,"(58.323425616284766, 22.68067255200818)",2020-08-15
99,r8b2ba160d0c7,One Hot Yumyum Kingom,94112,"(37.74030911411424, -122.46659513914196)",2001-06-04

In [40]:
dishes_db

,dish_id,dish_name,restaurant_id,dish_rating,dish_num_reviews,dish_date_added
0,d6a96efe78073,stir fried drained Barbecued meat,r10dbc220a33e,3,78,2021-04-04
1,d87f6a1d2b7b7,charred shelled Tahini,rd41cb1c24be5,1,57,2009-01-19
2,d192941fd92ed,skinned rendered Greens,re1bd1257a9bf,4,11,2008-08-20
3,dd5664b846776,shucked drizzled Mussels,r34edcfc5b64b,1,2,2001-11-23
4,d6651cb239071,greased deboned Milk,r5e6a7ffec2c6,3,51,2004-03-20
...,...,...,...,...,...,...
995,d059a8abe44ea,popped overcooked Pâtés,r7ab45194f8ec,4,63,2011-02-03
996,d78e2f394f42a,zapped doughed Garbanzo beans,r522ae0167839,3,20,2005-04-26
997,d47e97a3fad37,layered browned Hummus,r24a78e1136b6,2,64,2008-03-19
998,ddd491bc01c35,blended braised Artichokes,r09a9a1dd2b55,3,98,2014-01-08
999,d36dfdb9ac1d1,descaled steeped Tea,rce90b6a1518a,1,45,2018-12-09

In [47]:
users_db

,user_id,first_name,last_name,user_rating,user_date_added,user_date_last_login,user_zipcode,user_lat_long
0,u02d63002def3,Angelica,Moore,1,2015-07-05,2015-12-19,"(37.72434843557024, -122.47594403318838)",94115
1,u0de85cb05957,Aliza,King,2,2001-03-22,2019-01-19,"(48.80143968436464, 2.3376193977186515)",94117
2,u701fd8e79994,Christopher,Brown,4,2004-07-10,2005-06-01,"(37.80035106750301, -122.43107962368012)",94123
3,u8597d10dd184,Alayna,Lewis,1,2013-11-21,2018-11-08,"(37.724886876842284, -122.48449273717887)",94133
4,udcf280faa529,Raul,Carter,4,2002-03-26,2002-11-28,"(37.778982298044426, -122.45069299436892)",94114
...,...,...,...,...,...,...,...,...
95,u286a02da6e14,Erin,Scott,2,2011-05-18,2011-12-20,"(48.57595408911443, 13.68269133925903)",94117
96,u591b615ae412,Margaret,Taylor,5,2015-12-06,2021-05-25,"(37.7878249133954, -122.40605903429034)",94122
97,ue4260bcce558,Rosalie,Baker,1,2000-01-22,2004-09-02,"(37.74695804571104, -122.39248684460146)",94114
98,u538a68069169,Lucas,Jackson,4,2017-02-20,2000-04-08,"(37.780399063478335, -122.45895618132658)",94127
99,u57786f01668f,Alaya,Torres,3,2007-12-23,2017-01-12,"(47.98078601312147, 17.997390688179458)",94108

In [1]:
# we now have databases for  

# def create_sample_entry():
#     # -dish_id
#     # -restaurant_id
#     # -dish_rating
#     # -dish_num_reviews
#     # -user_rating
#     # -user_zip_code
#     # -user_lat_long
#     # -restaurant_lat_long
#     # -user_dist_restaurant
#     # -dish_date_added
#     output_entry = {}
#     output_entry['dish_id'] = 'd' + create_uuid()
#     output_entry['restaurant_id'] = 'r' + create_uuid()
#     output_entry['dish_rating'] = int(random.random()*5 + 1)
#     output_entry['dish_num_reviews'] = random.randint(0,100)
#     output_entry['user_rating'] = int(random.random()*5 + 1)
#     output_entry['user_zip_code'] = zipcodes[random.randrange(len(zipcodes))]
#     output_entry['user_lat_long'] = 
#     output_entry['restaurant_lat_long'] = 
#     output_entry['user_dist_restaurant'] = geopy.distance.distance(user_lat_long, restaurant_lat_long).mi
#     output_entry['dish_date_added'] =

In [ ]:
#signals db
## this db will be used to create the prediction model

#table Dish_Predictors

# user_id : int
# user_dist_restaurant:   float (normalized distance in meters)
# time_since_dish_added_or_updated:  int (hours)
# dish_type: int (user choice from given selection)
# dish_rating:  int
# restaurant_rating: int
# restaurant_lat: float
# restaurant_long: float
# dish_type_1: int  (user choice from given selection, optional?)
# dish_type_2: int   (user choice from given selection, optional?)
# swiped_right: boolean# swiped_left: boolean# seen_dish: boolean